@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

.App {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.AppHeader {
    height: 50px;
    display: flex;
    justify-content: start; 
    align-items: center;
    padding: 4px 20px 4px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.title {
    margin-left: 600px; 
}
.icons{
    margin-left: 64rem;
}
.Appfooter{
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.SideMenuandPageContent{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.05);
    height: 55rem;
}
.sideMenu {
    height: 100%;
    
}

.SideMenuvertical {
    height: 52rem;
}

.PageContent{
    padding-left: 12px;
}
.AppHeader {
    padding: 10px;
}

.title {
    white-space: nowrap;
    margin-right: 47rem;

    text-align: center;  
    font-size: 1.5em;}    
.icons {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .AppHeader {
        flex-direction: column;
        align-items: center;
    }

    .title {
        font-size: 1.2em;
        margin: 10px 0;
    }

    .icons {
        justify-content: center;
    }
}

